body {
  background: #fffafb !important;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0;
  /* width: 700px; */
  height: 900px;
  margin-top: -330px;
  object-fit: cover;
}

/* .react-horizontal-scrolling-menu--scroll-container ::-webkit-scrollbar {
  width: 0px;
} */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  height: 5px;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-track {
  background-color: #fffafb;
  border-radius: 10px;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-thumb {
  background-color: #ff2625;
  border-radius: 10px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.exercise-card {
  width: 400px;
  height: 445px;
  background: #fff;
  border-top: 4px solid #FF2625;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.detail-image {
  width: 100%;
  min-width: 260px;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.search-btn:hover {
  color: #FF2625 !important;
  border: 1px solid #FF2625 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  /* height: 381px; */
  text-decoration: none;
}